body {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  background-color: #e66465;
}

button {
  font-weight: bold;
  border-radius: 5px;
  font-size: 18px;
  border: 2px;
  border-style: solid;
  border-color: black;
}

.container {
  display: flex;
  flex-direction: column;
  background-color: #54BAB9;
  padding: 8px;
  margin-top: 10%;
  border-style: solid;
  border-width: thick;
}

.display {
  display: flex;
  flex-direction: row-reverse;
  background-color: #18978F;
  color: #16003B;
  width: 248px;
  height: 47px;
  flex-shrink: 1;
  flex-wrap:wrap;
}

.button-wrapper {
  display: flex;
}

.numbers-clear {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
}

.clear {
  width: 100%;
  height: 100%;
}

.clear-btn {
  width: 100%;
  height: 100%;
  font-size: 16px;
  padding: 24px;
  background-color: #FFDCAE;
  color: #BD4291;
}

.numbers {
  display: flex;
  font-size: 0px;
}

.numbers>* {
  font-size: 16px;
  padding: 24px;
  background-color: #E9DAC1;
  color: #810955;
}

.operators {
  display: flex;
  flex-direction: column;
}

.operators>* {
  font-size: 16px;
  padding: 24px;
  background-color: #F7ECDE;
  color: #A149FA;
}
